.chosen_language {
  background-color: rgb(179, 179, 179);
  color: white;
}
.language_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6px;
  height: 100%;
  width: 50%;
  cursor: pointer;
}
.language_container{
  width: 100px;
    display: flex;
    justify-content: space-around;
    height: 22px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}


.language_item:first-child,
.language_item:first-child{
  border-radius: 5px 0 0 5px;
}
.language_item:last-child,
.language_item:last-child {
  border-radius: 0 5px 5px 0;
}