
.icon_triangle_fromLow,
.icon_triangle_fromHight {
  height: 20px;
  width: 20px;
  filter: invert(1);
  transition: filter 0.1s;
}
.icon_triangle_fromHight {
    transform: rotate(180deg);
  }
  
  .icon_triangle_fromLow:hover,
  .icon_triangle_fromHight:hover {
    cursor: pointer;
    filter: invert(0);
    transition: filter 0.1s;
  }
  .filter_icons_container{
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 650px) {
  .table_header_item_date .filter_icons_container{
    margin: 0px;
  }
}
