footer{
    background-color: hsl(53, 40%, 84%);
    padding: 10px;
    height: 65px;
    width: 100%;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container a{
    color: rgb(110, 110, 110);
}
footer .container a:hover{
    color: black;
}
.footer_img{
    height: 35px;
}