.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header {
  height: 50px;
  width: 100%;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0; /* required */
}
.logout_button {
  margin-right: 10px;
  height: 35px;
  padding: 5px 20px;
  background-color: #54939b;
  color: white;
  border-radius: 7px;
  border: none;
  font-size: 16px;
}
.logout_button:hover {
  color: white;
}
.logout_button:active {
  background-color: #40757c;
  border: none;
}
.logo{
  padding-left: 10px;
  color:#40757c;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}
.header_userName{
  margin-left: auto;
  margin-right: 10px;
  color: rgb(110, 110, 110);
}