*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* { box-sizing: border-box }
a:hover, a:visited, a:link, a:active {text-decoration: none; color: black;}
html{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: 400;
}

h1{
    font-size: 35px;
    line-height: 45px;
}

h2{
    font-size: 30px;
    line-height: 40px;
}
h3{
    font-size: 25px;
    line-height: 35px;
}
h4,h5,h6{
    font-size: 20px;
    line-height: 25px;
}


ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #222222;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.005em
}
a:hover{
cursor: pointer;
}
li{
    list-style: none;
}
body{
    width: 100vw;
    margin: 0 auto;
    background-color:whitesmoke;
    font-size: 15px;
    line-height: 24px;
}
@import "./Header";
@import "./Footer";
.container{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
/*@media (max-width: 1024px) and (min-width: 500px) {
    header{
      height: 80px;
      line-height: 30px;
    }
  
    .wrapper {
      width: 500px;
      height         : 1600px;
    }
  
    .mainContent_container {
      width: 500px;
      height         : 1500px;
      flex-direction: column
    }
  }*/

