.registration_form{
    width: 300px;
    height: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    border-radius: 7px;
    margin-top: 10px;
}
.registration_form_buttoncontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registration_form_title{
    border-radius: 7px 7px 0 0 ;
    height: 50px;
    background-color: rgb(255, 196, 0);
    text-shadow: 0.05em 0.05em 0.1em rgba(0,0,0,0.2),-0.05em -0.05em 0.1em rgba(255,255,255,0.3);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registration_form_container{
    display: flex;
    flex-direction: column;
    margin: 15px;
    justify-content: space-between;
}

.registration_form_loginLink{
    margin-bottom: 10px;
    color: rgba(128, 128, 128) !important;
}
.registration_form_loginLink:hover{
    margin-bottom: 10px;
    color: black !important;
}