.table_wrapper {
  width: 100%;
  background-image: url(../../assets/img/background.png);
  background-repeat: repeat;
  background-size: contain;
}

.table_container {
  background-color: white;
  width: 1000px;
  height: 6000px;
  margin: 0 auto;
}
.table_body_container,
.table_header_container {
  display: grid;
  grid-template-columns: 100px 150px 150px 450px 150px;
}

.table_body_container {
  background-color: white;
  height: 80px;
}
.table_header_container {
  background-color: rgb(245, 245, 245);
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0; /* required */
}
.table_header_container .table_item:first-child {
  background-color: transparent;
}
.table_body_item_action-list a {
  font-size: 13px;
  color: rgb(110, 110, 110);
  padding-left: 2px;
}
.table_item {
  padding: 0px 5px 0px 5px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.table_body_container .table_item {
  border: 1px solid rgb(235, 235, 235);
}
.table_body_container .table_item:first-child {
  background-color: none;
  justify-content: center;
}

.table_header_item_distance,
.table_header_item_date {
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.filter_distance_icons_container,
.filter_date_icons_container {
  margin-left: 5px;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.table_body_item_action-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.table_body_item_action-list a:hover {
  /*background-color: rgb(84, 147, 155);*/
  cursor: pointer;
  background-color: #d5f0f3;
  color: black;
  width: 100%;
  align-items: flex-start;
}
/*.table_body_item_action-list a:active{
  background-color: rgb(68, 118, 124);
}*/
.table_wrapper header {
  background-color: inherit;
}
.table_wrapper .header_container {
  background-color: rgb(245, 245, 245);
}
.table_wrapper .header_userName {
  background-color: inherit;
}
.table_item:first-child {
  align-items: center;
}
.icon_triangle_fromLow,
.icon_triangle_fromHight {
  height: 20px;
  width: 20px;
  filter: invert(1);
  transition: filter 0.1s;
}

.icon_private1 {
  height: 20px;
  width: 20px;
  visibility: hidden;
}
.icon_private0{
  height: 20px;
  width: 20px;
}
.icon_triangle_fromHight {
  transform: rotate(180deg);
}

.icon_triangle_formLow:hover,
.icon_triangle_fromHight:hover {
  cursor: pointer;
  filter: invert(0);
  transition: filter 0.1s;
}
.table_item_name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}