.сompleteStatictics {
  padding: 10px;
  height: 65px;
}

.сompleteStatictics_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.сompleteStatictics_wrapper {
  width: 100%;
  background-color: hsl(53, 40%, 84%);
}
